.Moises{
		border-style: solid;
		height: 150px;
		width: auto;
		padding-top: 30px;
		padding-bottom: 30px;
}
.ROJOMiguel{
	background-color: blue;
	margin: auto;
	border-color: red;
	 border-style: solid;
    border-width: 8px;
}

.AnclaMikey{
	display: flex;
	float: right;
	    margin-right: 45px;
    margin-top: 89px;
    color: white;
}