body {
	margin: 0;
}

.menudiv {
	background-color: orange;
	display: flex;
}

.topleftdiv {
	width: 70%
}

.toplogo_left {
	width: 45px;
	float: left;
	padding-left: 15px;
}

.Menu_Left li{
	float: left;
	list-style: none;
	margin-left: 15px;
	display: inline;
}

.toprightdiv {
	width: 100%
}

.Menu_Right {
	float: right;
	margin-top: 15px;
	margin-right: 10px;
}

.toplogo_right {
	width: 45px;
	float: right;
	padding-right: 15px;
}

/*Aquí terminan estilos para el menú, o primer bloque*/

.block3 {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 15px;
}